* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*div {
box-sizing: flex;	
}*/
.beta{
	width: auto;
	height: 5%;
	background-color: yellow;
	margin: 0 -12px 0 -8px;
	/*padding: 0 0 3% 0;*/
	position: top;
	/*box-sizing: flex;*/
}
.beta-text{
	text-align: center;
	width: 100%;
	height: 100%;
	margin: -10px 0px -10px 0;
	font-family: 'Kelly Slab', cursive;
}
.body {
	width: auto;
	height: 100%;
	box-sizing: block;
}
.head-title{
background-color: black;
padding: 0 0 0 6px; 
text-align: left;
width: auto;
height: 100%;
margin: 10px -12px 0px -8px;
}
.title-main{
font-family: 'Pattaya', sans-serif;
color: #fff;
font-size: 25px;
padding: 0 0 0 10px;
text-decoration-line: none;

}
.btn-one{
	font-family: 'Pattaya', sans-serif;
	padding: 0px;
	font-size: 20px;
	color: #fff;
	text-decoration-line: none;
	margin: 0 0 0 40%;
}
p {
	margin: 0px;
}
.btn-two{
	font-family: 'Pattaya', sans-serif;
	padding: 0px;
	font-size: 20px;
	color: #fff;
	text-decoration-line: none;
	margin: 0 0 0 2%;
}

.main{
background-image: url(1.jpg);
width: auto;
max-height: 3000px;
min-height: 1000px;
height: auto;
margin: -27px -12px -25px -8px; 
background-size: cover;
background-position: center center;   
background-attachment: fixed;
}
h1{
	font-family: 'Pattaya', sans-serif;
	font-size: 40px;
	text-align: center;
	color: #fff;
}
.main-text{
font-family: 'Marck Script', cursive;
font-size: 25px;
text-align: center;
	color: white;
}









