@media only screen and (max-width: 520px) {   
.main { 
background-image: url(SAVE_20200522_184525.jpg);
background-color: black;
background-size: cover; 
background-position: center center;   
background-attachment: local; 
background-repeat: repeat-y;
background-position: center;
width: auto;
height: auto;
margin: -27px -12px -5px -8px; }
.title-main{
font-family: 'Pattaya', sans-serif;
color: #fff;
font-size: 15px;
padding: 0 0 0 10px;
text-decoration-line: none;}
.btn-one{
	font-family: 'Pattaya', sans-serif;
	padding: 0px;
	font-size: 10px;
	color: #fff;
	text-decoration-line: none;
	margin: 0 0 0 2%;}
	.btn-two{
	font-family: 'Pattaya', sans-serif;
	padding: 0px;
	font-size: 10px;
	color: #fff;
	text-decoration-line: none;
	margin: 0 0 0 1%;
}
h1{
	font-family: 'Pattaya', sans-serif;
	font-size: 40px;
	text-align: center;
	color: white;
}
.main-text{
font-family: 'Marck Script', cursive;
font-size: 25px;
text-align: center;
	color: white;
}
}
